//buttons
.button {
  cursor: pointer;
  border-radius: rem(4px);

  &--primary {
    background-color: var(--theme-color-brand);
    color: #fff;
    font-size: rem(20px);
    padding: rem(8px) rem(16px);
  }
}