//variables
$body-font-size: 16px;
$transition: all 0.3s ease-in-out;

//functions
@function rem($size) {
  @return $size / $body-font-size * 1rem;
}

//mixins
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centeringAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//colors
:root {
  --theme-color: #fcf7f3;
  --theme-color-home-page: #f6ddce;
  --theme-color-brand: #814a58;
  --theme-color-black: #594d49;
  --theme-color-gray: #b8afac;
}

//typography
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  color: var(--theme-color-black);
  font-size: $body-font-size;
}

h1, h2, h3 {
  color: var(--theme-color-brand);
}

h2 {
  font-size: 1.75rem;
  line-height: 2.0625rem;
  letter-spacing: .02rem;
  font-weight: 500;
}